<!DOCTYPE html>
<html>
<head>
	<title>外教协议（中文版）</title>
	<meta content="text/html;charset=utf-8" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V4/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V4/css/main.css">
</head>
<body>
	<div class="viewport">
		<div class="main">
			<h1 class="h1">外教协议（中文版）</h1>
			<p class="text">这些条款和条件（以下简称“外教协议”）适用于您使用我们的应用程序“口语聊”向用户提供英语口语交流服务，以及在我们的应用程序“口语聊”上或通过它向您提供的所有信息及服务。</p>
			<p class="text">在下载“口语聊”和/或使用“口语聊”向用户提供英语口语交流服务之前，请先仔细阅读本《外教协议》。</p>
			<h2 class="h2">【杭州旦悦科技有限公司“口语聊”应用程序】</h2>
			<p class="text">跟您签订合约的是杭州旦悦科技有限公司，其注册办公地址是杭州市滨江区西兴街道江陵路567号2幢1901室，商务部贸易登记号为330108000085007。</p>
			<h2 class="h2">【“口语聊”能为您提供哪些服务？】</h2>
			<p class="text">“口语聊” 向您提供有进行英语口语交流需求的用户信息，以及向用户提供英语口语交流并赚取收益的平台。您可通过下载并安装到单台移动设备（智能手机）上的“口语聊”应用程序索取它们（以下简称“应用程序”）。“口语聊”通过您使用应用程序的方式向您提供的所有服务以下简称“服务”。</p>
			<h2 class="h2">【“口语聊”如何跟您签订合约？】</h2>
			<p class="text">您使用应用程序或服务，即跟“口语聊”签订了合约（以下简称“合约”）。您必须先向“口语聊”注册，然后才能使用应用程序或服务。注册时，您必须向“口语聊”提供个人信息、移动电话号码和至少一种有效的收款方式（例如您的PayPal账号）。在您成功地向“口语聊”完成注册后，“口语聊”将向您提供一个个人帐户，您可以使用自己设定的密码访问该帐户。</p>
			<p class="text">您必须年满 18 岁才能使用服务或应用程序。如果您所在辖区因年龄限制您使用服务或应用程序，或者因年龄限制您签订此类合约的能力，您必须遵守此类年龄限制，不得使用服务和应用程序。您陈述：如果您是代表个人签订本合约，您已达到签订有约束力的合约的法定年龄；如果您是代表法人实体签订本合约，您获得授权签订（并约束该法人实体）遵守本《外教协议》，以及注册服务和应用程序。</p>
			<h2 class="h2">【如何使用服务和应用程序】</h2>
			<p class="text">应用程序允许您向有进行英语口语交流需求的用户提供在线语音的英语口语对话交流。应用程序会将您的信息与用户发出的请求进行配对。如果用户接受配对，应用程序会通知您并提供该用户的相关信息，包括用户的昵称、口语水平级别以及针对对话内容、话题的具体需求。</p>
			<p class="text">“口语聊”应做出合理的努力，让您联系上有交流需求的用户，并向用户赚取相应的收益。不过，这受制于您发出提供服务请求之时是否有有意愿与您配对的用户。</p>
			<h2 class="h2">【责任限制及免责声明】</h2>
			<p class="text">“口语聊”本身不提供英语口语在线教学服务，并且杭州旦悦科技有限公司“口语聊”应用程序也不是一家承运商。在线语音口语交流服务是由您自己提供的，您可以通过使用应用程序和/或服务发出提供服务的请求。“口语聊”只是充当您和用户之间的中间人。因此，您向用户提供的服务受到您与用户之间（将要）签订的协议的约束。“口语聊”绝不是此类协议中的一方。</p>
			<h2 class="h2">【适用法律和争议解决】</h2>
			<p class="text">本《外教协议》受中国法律的约束。因本《外教协议》，其违约、终止、履行、解释或有效性，或者服务、应用程序的使用所产生的或与其相关的任何冲突、赔偿或纠纷（统称为“争议”）只能由中国有管辖权的法庭予以审理。</p>
			<h2 class="h2">【最终条款】</h2>
			<p class="text">本《外教协议》的英文版本是唯一正本。如果英文版本与外语翻译版本存在任何差异，则以英文版本为准。</p>
		</div>
	</div>
</body>
</html>