<!DOCTYPE html>
<html>
<head>
	<title>计价规则</title>
	<meta content="text/html;charset=utf-8" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V4/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V4/css/main.css">
</head>
<body>
	<div class="viewport">
		<div class="main">
			<h1 class="h1">计价规则</h1>
			<h2 class="h2">计价说明：</h2>
			<div class="imgurl"><img src="__PUBLIC__/V4/images/gauge.png"></div>
			<p class="text">*时长费收费以您实际拨打（免费期后开始计算）分钟数为基础。例：您拨打4分钟，则适用于第一档（前5分钟）消费，订单实际费用为4*1.2=4.8元；如您拨打7分钟，则适用于第一（前5分钟）、第二档消费（第5-10分钟），订单实际费用为1.2*5+1.1*5=11.5元，折合每分钟为1.15元；当您拨打分钟数超过10分钟以后，如15分钟，则同时适用于第一、第二及第三档，订单实际费用为1.2*5+1.1*5+1*5=16.5元，折合每分钟为1.1元/分钟。</p>
			<p class="text">时长费分档主要是为了鼓励您多练习口语，您练习时间越长，费率越接近于1元/分钟。</p>
		</div>
	</div>
</body>
</html>