<!DOCTYPE html>
<html>
<head>
	<title>工资打款说明</title>
	<meta content="text/html;charset=utf-8" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V4/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V4/css/main.css">
</head>
<body>
	<div class="viewport">
		<div class="main">
			<h1 class="h1">工资打款说明</h1>
			<p class="title">1.	设置您的收款方式</p>
			<p class="text">请在空白处填写您有效的收款方式，请确保您在口语聊上的注册姓名和您收款方式姓名必须一致。<strong>目前，我们支持的收款方式为通过PNB银行（Philippine National Bank‎）的网上银行转账打款。</strong>您在申请成为外教时请提供有效的PNB银行卡号和姓名（姓名请遵循“名，姓”的通用习惯），如因为您的错填、漏填有效信息等原因造成未收、少收等后果，我们将不承担任何责任。</p>
			<p class="text">同时，我们也会根据奖惩制度对外教在一个工资核算周期内出现用户投诉的情况作出具体处罚。所有处罚结果将会体现在每周工资单上。</p>
			<p class="title">2.	如何打款？</p>
			<p class="text">目前，我们打款的起始金额为50元人民币或等值菲律宾比索（约360比索）。如您在上一个工资周期末时累计工资金额低于50元人民币，我们将不会在下一个周期开始时给您打款；直到您在之后周期内累计工资金额达到或超过50元人民币时，我们才会在下一个周期开始时给您打款。人民币与菲律宾比索之间的汇率我们会按打款当天的人民币汇率折算，汇率将会反映在我们打款后给您发的工资单邮件上。</p>
			<p class="title">3.	何时打款？</p>
			<p class="text">我们将会在每一个工资结算周期开始的第一天向您发放上一个周期的工资。具体到账时间可能根据您所在地有一定差异。如果您在收到工资单邮件的三个工作日内仍未收到上周工资，请留下银行查询记录证据等并与我们客服取得联系。</p>
			<p class="title">4.	为什么实际到账的金额与工资单中余额不一致？</p>
			<p class="text">正常情况下，我们会承担工资转账的手续费，并且每期工资单中金额已将您收到奖励与处罚的金额计算在内。如出现实际到账金额与工资单中余额不一致情况，请再联系我们之前再次确认到款时间、余额等细节，并准备好查询界面截图以便于我方工作人员能及时处理。</p>
		</div>
	</div>
</body>
</html>