<!DOCTYPE html>
<html>
<head>
	<title>用户隐私协议</title>
	<meta content="text/html;charset=utf-8" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V4/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V4/css/main.css">
</head>
<body>
	<div class="viewport">
		<div class="main">
			<h1 class="h1">用户隐私协议</h1>
			<p class="text">一、 保护用户个人信息是杭州旦悦科技有限公司的一项基本原则，杭州旦悦科技有限公司将会采取合理的措施保护用户的个人信息。除法律法规规定的情形外，未经用户许可杭州旦悦科技有限公司不会向第三方公开、透露用户个人信息。杭州旦悦科技有限公司对相关信息采用专业加密存储与传输方式，保障用户个人信息的安全。</p>
			<p class="text">二、 您在注册帐号或使用本服务的过程中，可能需要提供一些必要的信息，例如：为向您提供帐号注册服务或进行用户身份识别，需要您填写手机号码等信息；在本软件平台获取收益需提供银行卡信息等。若国家法律法规或政策有特殊规定的，您需要提供真实的身份信息。若您提供的信息不完整，则无法使用本服务或在使用过程中受到限制。</p>
			<p class="text">您必须年满 18 岁才能使用服务或应用程序。如果您所在辖区因年龄限制您使用服务或应用程序，或者因年龄限制您签订此类合约的能力，您必须遵守此类年龄限制，不得使用服务和应用程序。您陈述：如果您是代表个人签订本合约，您已达到签订有约束力的合约的法定年龄；如果您是代表法人实体签订本合约，您获得授权签订（并约束该法人实体）遵守本《外教协议》，以及注册服务和应用程序。</p>
			<p class="text">三、一般情况下，您可随时浏览、修改自己提交的信息，但出于安全性和身份识别（如号码申诉服务）的考虑，您可能无法修改注册时提供的初始注册信息及其他验证信息。</p>
			<p class="text">四、 杭州旦悦科技有限公司将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。</p>
			<p class="text">五、未经您的同意，杭州旦悦科技有限公司不会向杭州旦悦科技有限公司以外的任何公司、组织和个人披露您的个人信息，但法律法规另有规定的除外。</p>
			<p class="text">六、 杭州旦悦科技有限公司非常重视对未成年人个人信息的保护。若您是18周岁以下的未成年人，在使用杭州旦悦科技有限公司的服务前，应事先取得您家长或法定监护人的书面同意。</p>
		</div>
	</div>
</body>
</html>