<!doctype html>
<head>
	<include file="Public/meta" />
</head>

<body>

	<div class="content">
	
		<!-- 标题 -->
		<div class="title">
			<span class="title_arrow"></span>
			用户管理 [ <a href="__CONTROLLER__/index">返回列表</a> ]
		</div>
		
		<form id="frm1" method="post" action="__CONTROLLER__/system_recharge/">
			<table cellpadding="3" cellspacing="3" class="tbl_form" >
				<tr>
					<td class="tRight">用户ID：</td>
					<td class="tLeft">{$vo.id}</td>
				</tr>
				<tr>
					<td class="tRight">昵称：</td>
					<td class="tLeft">{$vo.name}</td>
				</tr>
				<tr>
					<td class="tRight">国际代码：</td>
					<td class="tLeft">{$vo.international_code}</td>
				</tr>
				<tr>
					<td class="tRight">手机号码：</td>
					<td class="tLeft">{$vo.mobile}</td>
				</tr>
				<tr>
					<td class="tRight">充值金额：</td>
					<td class="tLeft"><input type="text" class="large" name="amount" required='1' />
						<input type="button" class="btn btn-green" id="btn_submit" value="充 值" />
					</td>
					<td><input type="hidden" value="{$vo.id}" name="id" /></td>
				</tr>
			</table>
		</form>

	</div>

	<include file="Public:js_basic" />
	<include file="Public:js_form" />
	<load href="__PUBLIC__/Admin/js/main.js" />
	<load href="__PUBLIC__/Admin/js/chosen.jquery.js" />
	<load href="__PUBLIC__/Admin/css/chosen.css" />
	
	<script charset="utf-8" src="__PLUGIN__/Editor/kindeditor.js"></script>
	<script charset="utf-8" src="__PLUGIN__/Editor/lang/zh_CN.js"></script>
	
</body>
</html>
