<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

  <link rel="stylesheet" href="__PUBLIC__/V3/css/share.css">
</head>

<body class="hongbao">
  <div class="wrap">
    <header>
      <span class="fs">{$student_name}</span>
      <span>
        <img class="avatar" src="{$student_avatar}" alt="">
      </span>
      <span>
        <img src="__PUBLIC__/V3/images/telicon.png" alt="">
      </span>
      <span>
        <img class="avatar" src="{$teacher_avatar}" alt="">
      </span>
      <span class="fs">{$teacher_name}</span>
    </header>
    <div class="piao">
      <div class="cou"><span class="num">15</span>元</div>
      <div class="desc">
        <p>我与{$teacher_name}练习了{$call_minutes}分{$call_seconds}秒,</p>
        <p>大大提高了口语水平。</p>
        <p>送你<em>15</em>元红包，马上注册领取吧！</p>
      </div>
      <div class="ips">
        <input type="text" class="tel" placeholder="请输入11位手机号领取红包">
      </div>
    </div>
    <div class="btn-line">
      <a href="#" class="btn">立即领取</a>
    </div>
    <div class="comment">
      <h3>用户评价</h3>
      <ul class="de">
        <li class="clearfix">
          <div class="g-left pe">
            <img src="__PUBLIC__/V3/images/p1.png" alt="">
          </div>
          <div class="g-left ae">
            <div class="tl clearfix">
              <div class="g-left name">James White</div>
              <div class="stars g-right">
                <i></i><i></i><i></i><i></i><i class="s"></i>
              </div>
            </div>
            <p>The teacher is very patient and very kind.I will remeber the words :) thank you!</p>
          </div>
        </li>
        <li class="clearfix">
          <div class="g-left pe">
            <img src="__PUBLIC__/V3/images/p2.png" alt="">
          </div>
          <div class="g-left ae">
            <div class="tl clearfix">
              <div class="g-left name">Alvin Lee</div>
              <div class="stars g-right">
                <i></i><i></i><i></i><i></i><i class="s"></i>
              </div>
            </div>
            <p>It's a professional English teacher. he has patients to he students.</p>
          </div>
        </li>
        <li class="clearfix">
          <div class="g-left pe">
            <img src="__PUBLIC__/V3/images/p3.png" alt="">
          </div>
          <div class="g-left ae">
            <div class="tl clearfix">
              <div class="g-left name">Hong Zhang</div>
              <div class="stars g-right">
                <i></i><i></i><i></i><i></i><i class="s"></i>
              </div>
            </div>
            <p>Hah~thank you! See you next time. Thank you give me confidence.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="readmore">
      <a href="#">查看更多</a>
    </div>
    <div class="down-line" style="position:fixed; bottom:0;">
      <span>
        <img class="logo" src="__PUBLIC__/V3/images/share_logo.png" alt="">
      </span>
      <span class="kj">
        口语聊-您的专属外教陪练
      </span>
      <span class="idown">
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.abc360.coolchat">立即下载</a>
      </span>
    </div>
  </div>
  <input type="hidden" id="uuid" value="{$uuid}" />
  <script type="text/javascript" src="__PUBLIC__/Common/js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/V3/js/share.js"></script>
  <script type="text/javascript">
    WebSettings webSettings = m_WebView.getSettings();
    webSettings.setSupportZoom(false);
  </script>
</body>

</html>
