<h2>修改密码</h2>
<form id="" method="post" action="changePassword">
		<table class="free_table blue_link">
			<tr><td class="th"><span class="note_orange">*</span><label for="f_1">原密码</label></td>
			<td><input type="text" name="old_password" class="free_text" id="f_1" /><span class="note_gray"></span></td></tr>
			<tr><td class="th"><span class="note_orange">*</span><label for="f_2">新密码</label></td>
			<td><input type="password" name="new_password" class="free_text" id="f_2" name="f_2" /><span class="note_gray"></span></td></tr>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<input type="hidden" name="id" value="26">
						<input type="submit" class="i_free_btn th go_check_info" value="submit" />
					</td>
				</tr>
			</tfoot>
		</table>
	</form>