<h2>反馈</h2>
<form id="" method="post" action="feedback">
		<table class="free_table blue_link">
			<tr><td class="th"><span class="note_orange">*</span><label for="f_1">内容</label></td>
			<td><textarea name="content" class="free_text" id="f_1" value="{$Think.session.param.content}"></textarea><span class="note_gray"></span></td></tr>
			<tfoot>
				<tr>
					<td></td>
					<td>
						<input type="submit" class="i_free_btn th go_check_info" value="submit" />
					</td>
				</tr>
			</tfoot>
		</table>
	</form>