<!doctype html>
<head>
	<include file="Public/meta" />
</head>
<body>
	<div class="container-fluid">
		<div class="row header">
			<h1>接口API查询</h1>
		</div>
		<div class="row main clearfix">
			<div class="left-main">
         		<form class="form">
         			<input type="text" id="search-navigation" class="form-control pull-left" placeholder="Search..." data-list=".custom_event_list">
         		</form>
         		<div class="menu">
         			<ul class="nav nav-sidebar menu-level1 custom_event_list">
         				<!-- menu -->
         				<for start="0" end="count($interface_info)">
         					<eq name="i" value="0">
	         					<li>
					            	<a href="###" class="level1-list">{$interface_info[$i].category}<i class="ico ico-down"></i></a>
					            	<ul class="nav nav-sidebar menu-level2">
					            		<li><a href="javascript:void(0)">{$interface_info[$i].url}</a></li>
					            		<input type='hidden' url="{$interface_info[$i].url}" param="{$interface_info[$i].param}" 
					            			method="{$interface_info[$i].method}" comment="{$interface_info[$i].comment}">
					            	</ul>
			            	<else />
			            		<if condition="$interface_info[$i]['category'] eq $interface_info[$i-1]['category']">
				            		<ul class="nav nav-sidebar menu-level2">
				            			<li><a href="javascript:void(0)">{$interface_info[$i].url}</a></li>
					            		<input type='hidden' url="{$interface_info[$i].url}" param="{$interface_info[$i].param}" 
					            			method="{$interface_info[$i].method}" comment="{$interface_info[$i].comment}">
					            	</ul>
			            		<else />
				            		</li>
			            			<li>
						            	<a href="###" class="level1-list">{$interface_info[$i].category}<i class="ico ico-down"></i></a>
						            	<ul class="nav nav-sidebar menu-level2">
						            		<li><a href="javascript:void(0)">{$interface_info[$i].url}</a></li>
						            		<input type='hidden' url="{$interface_info[$i].url}" param="{$interface_info[$i].param}" 
						            			method="{$interface_info[$i].method}" comment="{$interface_info[$i].comment}">
						            	</ul>
			            		</if>
			            	</eq>
				            </li>
			        	</for>

			        </ul>
         		</div>
        	</div>
        	<div class="rigth-main">
        		<div class="port-infor">
        			<h2 class="minor-header">接口详细信息</h2>
        			<div class="infor-html">
        				<p>/** 备注 */</p>
        			</div>
        		</div>
        		<div class="json-box">
        			<h2 class="minor-header">请求的json</h2>
        			<div class="json-html">
        				<form class="form clearfix">
		        			<div class="btn-group pull-left method">
							  <button type="button" class="btn btn1 btn-primary dropdown-toggle method-value" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							   	<span class="text">get</span><span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu">
							    <li><a href="#">get</a></li>
							    <li><a href="#">post</a></li>
							    <li><a href="#">put</a></li>
							    <li><a href="#">delete</a></li>
							  </ul>
							</div>
							<input type="text" class="location form-control pull-left" name="address" placeholder="填写链接">
							<button type="button" class="btn btn-success" id="send_button">send</button>
		        		</form>
		        		<div class="post-box">
		        			<ul class="nav post-header clearfix">
		        				<li style="border-left:0;">Headers</li>
		        				<li class="on">Param</li>
		        				<li>Authorization</li>
		        				<li>Pre-request script</li>
		        				<li>Tests</li>
		        			</ul>
		        			<dl class="post-contant">
		        				<dd style="display:none;">
		        					<table class="table">
		        						<tr>
		        							<td><input type="text" placeholder="Header"/></td>
		        							<td><input type="text" placeholder="Value"/></td>
		        						</tr>
		        						
		        					</table>
		        				</dd>
		        				<dd>
		        					<table class="table">
		        						<tr>
		        							<td><input type="text" placeholder="Key"/></td>
		        							<td><input type="text" placeholder="Value"/></td>
		        						</tr>
		        						
		        					</table>
		        				</dd>
		        				<dd style="display:none;">
		        					<table class="table">
		        						<tr>
		        							<td><input type="text" placeholder="Header"/></td>
		        							<td><input type="text" placeholder="Value"/></td>
		        						</tr>
		        					</table>
		        				</dd>
		        				<dd style="display:none;">
		        					<table class="table">
		        						<tr>
		        							<td><input type="text" placeholder="Header"/></td>
		        							<td><input type="text" placeholder="Value"/></td>
		        						</tr>
		        					</table>
		        				</dd>
		        				<dd style="display:none;">
		        					<table class="table">
		        						<tr>
		        							<td><input type="text" placeholder="Header"/></td>
		        							<td><input type="text" placeholder="Value"/></td>
		        						</tr>
		        					</table>
		        				</dd>
		        			</dl>
		        		</div>
		        		<div class="jsoneditor-box">
		        			<div id="jsoneditor"></div>
		        		</div>
        			</div>
        		</div>
        	</div>
		</div>
	</div>
	<load href="__PUBLIC__/Tools/bootstrap/css/bootstrap.css" />
	<load href="__PUBLIC__/Tools/css/port.css" />
	<load href="__PUBLIC__/Common/js/jquery-1.9.1.min.js" />
	<load href="__PUBLIC__/Tools/bootstrap/js/bootstrap.js" />
	<!-- json格式化 -->
	<load href="__PUBLIC__/Tools/js/jsoneditor/jsoneditor.css" />
	<load href="__PUBLIC__/Tools/js/jsoneditor/jsoneditor.min.js" />
	<!-- 实时搜索 -->
	<load href="__PUBLIC__/Tools/js/jquery.hideseek.min.js" />
	<load href="__PUBLIC__/Tools/js/main.js" />
	<load href="__PUBLIC__/Tools/js/interface.js" />
</body>