<!doctype html>
<head>
	<include file="Public/meta" />
	<style type="text/css">
	.span{
		text-align: left;
		color: red;
	}
	.tLeft{
		width: 50px;
	}
	</style>
</head>

<body>

	<div class="content">
	
		<!-- 标题 -->
		<div class="title">
			<span class="title_arrow"></span>
			<a href="{:U('Billing/index')}">计费管理></a>
			[ <a href="{:U('Billing/index')}">返回首页</a> ]
		</div>
		
		<form id="frm1" method="post" action="__CONTROLLER__/save/">
			<table cellpadding="3" cellspacing="3" class="tbl_form" >
				<tr>
					<td class="tRight">free phase：</td>
					<td class="tLeft">
					<input type="text" class="large" name="free" required='1' 
					value="{$billing_info['free']}" /></td>
					<td class="span">请填可免费总时间，单位：秒</td>
				</tr>
				<tr>
					<td class="tRight">define phase01：</td>
					<td class="tLeft">
					<input type="text" class="large" name="phase_1" required='1' 
					value="{$billing_info['phase_1']}"/></td>
					<td class="span">自定义阶段,格式：时间-金额,单位：秒</td>
				</tr>
				<tr>
					<td class="tRight">define phase02：</td>
					<td class="tLeft">
					<input type="text" class="large" name="phase_2" required='1' 
					value="{$billing_info['phase_2']}"/></td>
					<td></td>
				</tr>
				<tr>
					<td class="tRight">last phase：</td>
					<td class="tLeft">
					<input type="text" class="large" name="last" required='1'
					value="{$billing_info['last']}"/></td>
					<td class="span">请填写最后阶段计费金额，单位：秒</td>
				</tr>
				<tr>
					<td></td>
					<td colspan="2">
						<input type="button" class="btn btn-green" id="btn_submit" value="保 存" />
						<input type="reset" class="btn btn-green" id="btn_reset" value="重 置" />
					</td>
				</tr>
			</table>
		</form>
	</div>

	<include file="Public:js_basic" />
	<include file="Public:js_form" />
	<load href="__PUBLIC__/Admin/js/main.js" />
	<load href="__PUBLIC__/Admin/js/chosen.jquery.js" />
	<load href="__PUBLIC__/Admin/css/chosen.css" />

	<script charset="utf-8" src="__PLUGIN__/Editor/kindeditor.js"></script>
	<script charset="utf-8" src="__PLUGIN__/Editor/lang/zh_CN.js"></script>

</body>
</html>
