<!doctype html>
<head>
	<include file="Public/meta" />
</head>

<body>

	<div class="content">
	
		<!-- 标题 -->
		<div class="title">
			<span class="title_arrow"></span>
			编辑组 [ <a href="__CONTROLLER__/index{$_SESSION[C('SEARCH_PARAMS_STR')]}">返回列表</a> ]
		</div>
		
		<form id="frm1" method="post" action="__CONTROLLER__/update/">
			<table cellpadding="3" cellspacing="3" class="tbl_form" >
				<tr>
					<td class="tRight">组　名：</td>
					<td class="tLeft"><input type="text" class="medium" name="name" value="{$vo.name}" required='1' /></td>
					<td></td>
				</tr>
				<tr>
					<td class="tRight">上级组：</td>
					<td class="tLeft">
						<select name="pid" class="chzn-select-width1">
							<option <eq name="vo.pid" value="0" >selected</eq> value="0">无</option>
						<volist name="root_roles" id="rr">
							<option <eq name="vo.pid" value="$rr['id']" >selected</eq> value="{$rr.id}">{$rr.name}</option>
						</volist>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<td class="tRight">状　态：</td>
					<td class="tLeft">
						<select name="status">
						<volist name="stt_jyqy" id="item">
							<option <eq name="vo.status" value="$key">selected</eq> value="{$key}">{$item}</option>
						</volist>
						</select>
					</td>
					<td></td>
				</tr>
				<tr>
					<td class="tRight">描　述：</td>
					<td class="tLeft"><textarea name="remark" class="area_60">{$vo.remark}</textarea></td>
					<td></td>
				</tr>
				<tr>
					<td><input type="hidden" name="id" value="{$vo.id}" /></td>
					<td colspan="2">
						<input type="button" class="btn btn-green" id="btn_submit" value="保 存" />
						<input type="reset" class="btn btn-green" id="btn_reset" value="重 置" />
					</td>
				</tr>
			</table>
		</form>
	</div>

	<include file="Public:js_basic" />
	<include file="Public:js_form" />
	<load href="__PUBLIC__/Admin/js/main.js" />
	
</body>
</html>
