$fontStack:'微软雅黑';
$mainColor:#333;
.container-fluid{max-width:1400px;min-width:1024px !important;padding-left: 15px;padding-right: 15px;overflow:hidden;}
body{
	font-family:$fontStack;
	color:$mainColor;
	background-color: #e9f2f9;
}
// 头部
.header{
	text-align:center;
	border-bottom:1px solid #d3d1d2;
	h1{
		font-size: 32px;
	}
}
// 右边的导航
.left-main{
	float:left;
	width:30%;
  	padding-right:15px;
  	padding-bottom:30px;
  	padding-top:25px;
  	.form{
		position:relative;
		height:34px;
		button{
			position:absolute;
			right:0;
			top:0;
		}
	}
}
.menu{
	margin-top:30px;
	ul{
		li{
			a:hover{
				color: #ff992c;
			}
		}
	}
}
.menu-level1{
	li{
		margin-bottom: 8px;
		a.level1-list{
			position:relative;
			color: #333;
  			border-bottom:1px dashed #09ebe8;
			i.ico{
				position:absolute;
				top:50%;
				right:15px;
				margin-top: -10px;
				width: 20px;
				height:20px;
				&.ico-up{
					background: url(../images/ico-up.png) no-repeat center center;
				}
				&.ico-down{
					background: url(../images/ico-down.png) no-repeat center center;
				}
			}
			&:hover{
				background-color: transparent;
			}
			&:focus{
				background-color:transparent;
			}
		}
	}
}
.menu-level2{
	width: 95%;
	margin-left:5%;
	li{
		margin-bottom: 0;
		a{
			padding: 6px 15px;
			color: #666;
			border-bottom:1px dashed #09ebe8;
			&:hover{
				background-color:transparent;
			}
			&:focus{
				background-color:transparent;
			}
		}
	}
}
// 左边的内容
.rigth-main{
	float:right;
	width:70%;
	padding-left:15px;
  	border-left:1px solid #d3d1d2;
  	padding-top:20px;
  	h2.minor-header{
		font-size: 24px;
		margin: 0;
		background:url(../images/ud-ico.png) no-repeat left center;
		background-size:23px 20px;
		padding:6px 0 6px 32px;
	}
  	.port-infor{
  		padding-bottom:20px;
  		.infor-html{
  			background:#fff;
  			margin-top:12px;
  			border:1px solid #e4e4e4;
  			padding:8px 20px;
  		}
  	}
  	.json-box{
  		.json-html{
  			margin-top: 20px;
  		}
  	}
	.btn{
		padding:6px 18px;
		&.btn1{
			padding:0;
			width: 88px;
			height:34px;
			border-radius:0;
		}
	}
	.location{
		margin-right: 10px;
		width: 484px;
	}
	.form-control{
		border-radius:0;
	}
	.post-box{
		background:#fff;
		margin-top: 20px;
		padding:20px 10px;
		.post-header{
			border-bottom:1px solid #e6e6e6;
			li{
				float: left;
				padding:10px 30px;
				font-size: 14px;
				border-left:1px solid #e6e6e6;
				color: #333;
				cursor: pointer;
				&.on{
					border-bottom:3px solid #a2a2a2;
				}
			}
		}
		.post-contant{
			.table{
				tr{
					td{
						border-top:0;
						border-bottom:1px solid #ececec;
						input{
							border:0;
							outline: none;
							width: 100%;
							font-size: 12px;
							color: #666;
						}
					}
				}
			}
			.form{
				padding-top:10px;
				label{
					font-weight: normal;
					margin-right: 4%;
					cursor: pointer;
					input{
						vertical-align: middle;
						margin-top: 0;
						margin-right: 5px;
					}
				}
				
			}
		}
	}
}
.jsoneditor-box{
	margin-top:20px;
}
#jsoneditor{
	width:100%;
	height:500px;
	a.poweredBy{
		display: none;
	}
}