<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About-Us</title>
	<link rel="stylesheet" href="__PUBLIC__/Index/css/reset2.css">
	<link rel="stylesheet" href="__PUBLIC__/Index/css/pc-about.css">
</head>
<body>
	<!-- 顶部导航 -->
	<div class="header">
	</div>
	<div class="header-content">
		<div class="main">
			<a href="{$domain}" class="name">
				<img src="__PUBLIC__/Index/img/logo-header.png" alt="">
			</a>
			<div class="contact">
				<a href="mailto:HI@tollk.com" class="email"><img src="__PUBLIC__/Index/img/email.png" alt=""></a>
				<a target="_blank" href="https://www.facebook.com/tollk/" class="facebook"><img src="__PUBLIC__/Index/img/facebook.png" alt=""></a>
				<a target="_blank" href="https://twitter.com/hitollk" class="twitter"><img src="__PUBLIC__/Index/img/twitter.png" alt=""></a>
			</div>
		</div>
	</div>
	<!-- 正文 -->
	<div class="content">
		<div class="main">
			<h1 class="cont-about-us">About-Us</h1>
			<span class="cont-about-us-text">Tollk is anonline English Language Teaching (ELT) platform which is exploited by Hangzhou GuaJiao Technology company in China, and creates thousands of part-time jobs for native English speakersas an online spoken English teacher. You want to learn how to speak in perfect English, Tollk provides such a chance for you, and of course teachers will get the correspondingrewardby answering the incoming calls from students.</span>
			<!-- <img src="__PUBLIC__/Index/img/about-us-about.png" alt="" class="cont-about-us"> -->
			<!-- <img src="__PUBLIC__/Index/img/about-us-text.png" alt="" class="cont-about-us-text"> -->
			<h1 class="cont-meaning">The Meaning of Tollk</h1>
			<span class="cont-meaning-text">
The pronunciation of Tollk is “təuk” like “talk” ,which means it is an educational tool of instant chat surrounding with “Speak,” we build the platform for teachers and students to communicate with each other. Tollk is paid for using, and we hope this platform willspread Spoken English to more English learners, and givemore conditions to improveyour English. And you will obtain reward for teaching by Tollk.</span>
			<!-- <img src="__PUBLIC__/Index/img/meaning.png" alt="" class="cont-meaning"> -->
			<!-- <img src="__PUBLIC__/Index/img/meaning-text.png" alt="" class="cont-meaning-text"> -->
			<h1 class="cont-value">What We Value</h1>
			<span class="cont-value-text"><span class="bold">Passion:</span>  Every one in our team , including online teacher will engage complete enthusiasm to this work. <br/><span class="bold">Profession:</span>  Based on the background of China's top three online educational institutions and employ profes             sional native English speakers. <br/>
			<span class="bold">Customer Focus:</span>  We help our clients achieve their goals and we consistently strive for customers’ satisfaction in our dealings with our industrial and academic partners. <br/>
			<span class="bold">Perfection:</span>  We try our best to make the best of our service and product.</span>
			<!-- <img src="__PUBLIC__/Index/img/value.png" alt="" class="cont-value"> -->
			<!-- <img src="__PUBLIC__/Index/img/value-text.png" alt="" class="cont-value-text"> -->
			<h1 class="cont-mission">Our Mission</h1>
			<span class="cont-mission-text">We strive to provide more jobopportunities for native English Speakers and offer more chances for English learners.</span>
			<!-- <img src="__PUBLIC__/Index/img/mission.png" alt="" class="cont-mission"> -->
			<!-- <img src="__PUBLIC__/Index/img/mission-text.png" alt="" class="cont-mission-text"> -->
			<h1 class="cont-vision">Our Vision</h1>
			<span class="cont-vision-text">We strive to provide more jobopportunities for native English Speakers and offer more chances for English learners.</span>
			<!-- <img src="__PUBLIC__/Index/img/vision.png" alt="" class="cont-vision"> -->
			<!-- <img src="__PUBLIC__/Index/img/vision-text.png" alt="" class="cont-vision-text"> -->
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="main">
			<img src="__PUBLIC__/Index/img/logo.png" alt="" class="logo">
			<div class="contact">
				<a href="mailto:HI@tollk.com" class="email"><img src="__PUBLIC__/Index/img/email-footer.png" alt=""></a>
				<a target="_blank" href="https://www.facebook.com/tollk/" class="facebook"><img src="__PUBLIC__/Index/img/facebook-footer.png" alt=""></a>
				<a target="_blank" href="https://twitter.com/hitollk" class="twitter"><img src="__PUBLIC__/Index/img/twitter-footer.png" alt=""></a>
			</div>
			<div class="about-us">
				<span id="about-us"><a href="{$domain}/Index/about">About Us</a></span>
				<span class="copyright">&nbsp | &nbsp Copyright @ 2015 GuaJiao Technology Co.All Rights Reserved 浙ICP备15044524号-1</span>
				<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802003247" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
				<img src="__PUBLIC__/Index/image/record.png" style="float:left;"/>浙公网安备 33010802003247号</a>
				<!-- <img src="__PUBLIC__/Index/img/about-us.png" alt="" id="about-us"> <img class="copyright" src="__PUBLIC__/Index/img/copyright.png" alt=""> -->
			</div>
		</div>
	</div>
	<div class="footer-bar"></div>
	<script src="__PUBLIC__/Index/js/pc-about.js"></script>
</body>
</html>