<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tollk</title>
	<link rel="stylesheet" href="__PUBLIC__/Index/css/reset2.css">
	<link rel="stylesheet" href="__PUBLIC__/Index/css/pc-style.css">
</head>
<body>
	<!-- 顶部导航 -->
	<div class="header">
	</div>
	<div class="header-content">
		<div class="main">
			<a href="{$domain}" class="name">
				<img src="__PUBLIC__/Index/img/logo-header.png" alt="">
			</a>
			<div class="contact">
				<a href="mailto:HI@tollk.com" class="email"><img src="__PUBLIC__/Index/img/email.png" alt=""></a>
				<a target="_blank" href="https://www.facebook.com/tollk/"><img src="__PUBLIC__/Index/img/facebook.png" alt=""></a>
				<a target="_blank" href="https://twitter.com/hitollk" class="twitter"><img src="__PUBLIC__/Index/img/twitter.png" alt=""></a>
			</div>
		</div>
	</div>
	<!-- 首部介绍界面 -->
	<div class="intro">
		<div class="main">
			<img src="__PUBLIC__/Index/img/intro-title.png" alt="" class="title">
			<!-- <span class="content">
				Tollk enables Filipions to have a fulltime,professional career as homebased online english teachers.
			</span>-->
			<img src="__PUBLIC__/Index/img/intro-content.png" alt="" class="content">
			<div  id="apply-now"></div>
			<a href="https://play.google.com/store/apps/details?id=com.tollk.teacher" class="google-play"><img src="__PUBLIC__/Index/img/google-play.png" alt=""></a>
			<a href="https://itunes.apple.com/in/app/tollk-make-language-more-valuable/id1067207170?mt=8" class="apple-store"><img src="__PUBLIC__/Index/img/apple-store.png" alt=""></a>
			<img class="phone" src="__PUBLIC__/Index/img/intro-phone.png" alt="">
		</div>
	</div>
	<!-- why you join Tollk? -->
	<div class="why">
		<div class="main">
			<img src="__PUBLIC__/Index/img/why-title.png" alt="" class="title">
			<img src="__PUBLIC__/Index/img/why-content.png" alt="" class="content">
			<div id="reason1"><img src="__PUBLIC__/Index/img/reason1.jpg" alt=""></div>
			<div id="reason2"><img src="__PUBLIC__/Index/img/reason2.jpg" alt=""></div>
			<div id="reason3"><img src="__PUBLIC__/Index/img/reason3.jpg" alt=""></div>
			<img src="__PUBLIC__/Index/img/reason1-word.png" alt="" id="reason1-word">
			<img src="__PUBLIC__/Index/img/reason2-word.png" alt="" id="reason2-word">
			<img src="__PUBLIC__/Index/img/reason3-word.png" alt="" id="reason3-word">
		</div>
	</div>
	<!-- They have joined us -->
	<div class="they">
		<div class="main">
			<img src="__PUBLIC__/Index/img/triangle.png" alt="" id="triangle">
			<img src="__PUBLIC__/Index/img/they-title.png" alt="" class="title">
			<img src="__PUBLIC__/Index/img/they-content.png" alt="" class="content">
			<div class="person1">
				<img src="__PUBLIC__/Index/img/person1-pic.jpg" alt="" class="person1-pic">
				<div class="person-name"></div>
				<div class="name">Willam</div>
			</div>
			<div class="person2">
				<img src="__PUBLIC__/Index/img/person2-pic.jpg" alt="" class="person2-pic">
				<div class="person-name"></div>
				<div class="name">Martin</div>
			</div>
			<div class="person3">
				<img src="__PUBLIC__/Index/img/person3-pic.jpg" alt="" class="person3-pic">
				<div class="person-name"></div>
				<div class="name">Meisam</div>
			</div>
			<div class="person4">
				<img src="__PUBLIC__/Index/img/person4-pic.jpg" alt="" class="person4-pic">
				<div class="person-name"></div>
				<div class="name"><span>Cara</span></div>
			</div>
			<span class="person1-word">I have experence of 3 years of teaching english,Feel free to call me anytime.</span>
			<!-- <img src="__PUBLIC__/Index/img/person1-word.png" alt="" class="person1-word"> -->
			<span class="person2-word">Hi my name is Martin. To learn english just give me a call I'm here only for you. </span>
			<span class="person3-word">I’m Meisam ! Teaching English is my passion and I have been teaching for over 2 years. </span>
			<!-- <img src="__PUBLIC__/Index/img/person2-word.png" alt="" class="person2-word"> -->
			<!-- <img src="__PUBLIC__/Index/img/person3-word.png" alt="" class="person3-word"> -->
			<span class="person4-word">I am a 24 year old Filipino-American English teacher currently based in the Philippines.  </span>
			<!-- <img src="__PUBLIC__/Index/img/person4-word.png" alt="" class="person4-word"> -->
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<div class="main">
			<img src="__PUBLIC__/Index/img/logo.png" alt="" class="logo">
			<div class="contact">
				<a href="mailto:HI@tollk.com" class="email"><img src="__PUBLIC__/Index/img/email-footer.png" alt=""></a>
				<a target="_blank" href="https://www.facebook.com/tollk/" class="facebook"><img src="__PUBLIC__/Index/img/facebook-footer.png" alt=""></a>
				<a target="_blank" href="https://twitter.com/hitollk" class="twitter"><img src="__PUBLIC__/Index/img/twitter-footer.png" alt=""></a>
			</div>
			<div class="about-us">
				<span id="about-us"><a href="{$domain}/Index/about">About Us</a></span>
				<span class="copyright">&nbsp | &nbsp Copyright @ 2015 GuaJiao Technology Co.All Rights Reserved 浙ICP备15044524号-1
				</span>
				<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802003247" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
				<img src="__PUBLIC__/Index/image/record.png" style="float:left;"/>浙公网安备 33010802003247号</a>
				
				<!-- <img src="__PUBLIC__/Index/img/about-us.png" alt="" id="about-us"> <img class="copyright" src="__PUBLIC__/Index/img/copyright.png" alt=""> -->
			</div>
			
		</div>
	</div>
	<div class="footer-bar"></div>
	<!-- 引导流程 -->
	<div id="lead1">
		<div class="lead-content">
			<img src="__PUBLIC__/Index/img/step1-logo.png" alt="" class="step-logo">
			<img src="__PUBLIC__/Index/img/step1-content.png" alt="" class="step-content">
			<img src="__PUBLIC__/Index/img/step-right.png" alt="" class="step-right">
			<img src="__PUBLIC__/Index/img/step1-main.png" alt="" class="step-main">
			<img src="__PUBLIC__/Index/img/step1-progress.png" alt="" class="step-progress">
		</div>
	</div>
	<div id="lead2">
		<div class="lead-content">
			<img src="__PUBLIC__/Index/img/step2-logo.png" alt="" class="step-logo">
			<img src="__PUBLIC__/Index/img/step2-content.png" alt="" class="step-content">
			<img src="__PUBLIC__/Index/img/step-left.png" alt="" class="step-left">
			<img src="__PUBLIC__/Index/img/step-right.png" alt="" class="step-right">
			<img src="__PUBLIC__/Index/img/step2-main.png" alt="" class="step-main">
			<img src="__PUBLIC__/Index/img/step2-progress.png" alt="" class="step-progress">
		</div>
	</div>
	<div id="lead3">
		<div class="lead-content">
			<img src="__PUBLIC__/Index/img/step3-logo.png" alt="" class="step-logo">
			<img src="__PUBLIC__/Index/img/step3-content.png" alt="" class="step-content">
			<img src="__PUBLIC__/Index/img/step-left.png" alt="" class="step-left">
			<img src="__PUBLIC__/Index/img/step-right.png" alt="" class="step-right">
			<img src="__PUBLIC__/Index/img/step3-main.png" alt="" class="step-main">
			<img src="__PUBLIC__/Index/img/step3-progress.png" alt="" class="step-progress">
		</div>
	</div>
	<div id="lead4">
		<div class="lead-content">
			<img src="__PUBLIC__/Index/img/step4-logo.png" alt="" class="step-logo">
			<img src="__PUBLIC__/Index/img/step4-content.png" alt="" class="step-content">
			<img src="__PUBLIC__/Index/img/step-left.png" alt="" class="step-left">
			<img src="__PUBLIC__/Index/img/step4-main.png" alt="" class="step-main">
			<img src="__PUBLIC__/Index/img/step4-progress.png" alt="" class="step-progress">
		</div>
	</div>
	<!-- 引导画布 -->
	<div id="lead-canvas"></div>
	<script src="__PUBLIC__/Index/js/pc-home.js"></script>
</body>
</html>