<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tollk- Make language more valuable</title>
	<link rel="stylesheet" href="__PUBLIC__/Index/css/reset2.css">
	<link rel="stylesheet" href="__PUBLIC__/Index/css/mb-about.css">
</head>
<body>
	<!-- 顶部导航 -->
	<div class="header"></div>
	<div class="header-content">
		<div class="main">
			<a href="{$domain}" class="name">
				<img src="__PUBLIC__/Index/img/logo-header.png" alt="">
			</a>
		</div>
	</div>
	<!-- main content -->
	<div class="content">
		<div class="main">
			<img src="__PUBLIC__/Index/img/mb-about.png" alt="" class="about">
			<img src="__PUBLIC__/Index/img/mb-about-text.png" alt="" class="about-text">
			<img src="__PUBLIC__/Index/img/mb-cherish.png" alt="" class="cherish">
			<img src="__PUBLIC__/Index/img/mb-cherish-text.png" alt="" class="cherish-text">
			<img src="__PUBLIC__/Index/img/mb-meaning.png" alt="" class="meaning">
			<img src="__PUBLIC__/Index/img/mb-meaning-text.png" alt="" class="meaning-text">
			<img src="__PUBLIC__/Index/img/mb-value.png" alt="" class="value">
			<img src="__PUBLIC__/Index/img/mb-value-text.png" alt="" class="value-text">
			<img src="__PUBLIC__/Index/img/mb-mission.png" alt="" class="mission">
			<img src="__PUBLIC__/Index/img/mb-mission-text.png" alt="" class="mission-text">
			<img src="__PUBLIC__/Index/img/mb-vision.png" alt="" class="vision">
			<img src="__PUBLIC__/Index/img/mb-vision-text.png" alt="" class="vision-text">
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<img src="__PUBLIC__/Index/img/logo.png" alt="" class="logo">
		<div class="main">
            <a href="{$domain}/Index/about"><img src="__PUBLIC__/Index/img/mb-about-us.png" alt="" class="about-us"></a>
			<div class="contact">
				<a href="mailto:HI@tollk.com" class="email"><img src="__PUBLIC__/Index/img/mb-email.png" alt=""></a>
				<a href="https://www.facebook.com/tollk/" class="facebook"><img src="__PUBLIC__/Index/img/mb-facebook.png" alt=""></a>
				<a href="https://twitter.com/hitollk" class="twitter"><img src="__PUBLIC__/Index/img/mb-twitter.png" alt=""></a>
			</div>
			<!-- <img src="__PUBLIC__/Index/img/mb-copyright.png" alt="" class="copyright"> -->
			<span class="copyright">Copyright @ 2015 GuaJiao Technology Co.All Rights Reserved 浙ICP备15044524号-1
				</span>
				<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010802003247" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;color:#999;font-size: 20px;">
				<img src="__PUBLIC__/Index/image/record.png" style="float:left;"/>浙公网安备 33010802003247号</a>
		</div>
	</div>
	<div class="footer-bar"></div>
	<script src="__PUBLIC__/Index/js/init.js"></script>
</body>
</html>