<!doctype html>
<head>
	<include file="Public/meta" />
</head>

<body>
   
   	<div class="content">
		<!-- 标题 -->
		<div class="title">
			<span class="title_arrow"></span>
			<a href="{:U('Series/index')}">Series></a>
			<a href="{:U('Demos/index')}?series_id={$_GET['series_id']}">Demos></a>
			<a href="{:U('FrameDetail/index')}?demo_id={$_GET['demo_id']}&series_id={$_GET['series_id']}">FrameDetail列表</a>
			[ <a href="<php>echo $_SERVER['HTTP_REFERER']</php>">返回列表</a> ]
		</div>
		
		<div id="div_act_zoom">
			<!-- 功能按钮 -->
			<div id="div_operater" style="width:20%">
				<a class="btn btn-green" href="__CONTROLLER__/add?demo_id={$demo_id}">新 增</a>
				<input type="button" class="btn btn-green" id="btn_del" value="删 除" url="__CONTROLLER__/foreverDelete" />
			</div>
			
			<!-- 查询 -->
			<form id="frm_sch" method="post" action="__CONTROLLER__/index/">
				<div id="div_search" style="text-align:left;width:78%">
                    <dl>
                        <dt>demo_id：</dt>
                        <select name="demo_id">
                            <option value="" <if condition="$demo_id eq ’‘">selected</if>>所有</option>
                            <volist name="demos" id="item">
                                <option value="{$key}" <if condition="$demo_id eq $key">selected</if>>{$key}. {$item}</option>
                            </volist>
                        </select>
                        <input type="submit" class="btn btn-green" id="btn_search" value="查 询" />
                        <input type="hidden" name="order" value="" />
                        <input type="hidden" name="sort" value="" />
                    </dl>
					<dl>
						<dt>title：</dt>
						<input type="text" name="type" value="{$type}" class="medium" >

					</dl>
					<dl>
						<dt>id：</dt>
						<input type="text" name="id" value="{$id}" class="small">
					</dl>
				</div>
			</form>
		</div>
		
		<!-- 列表 -->
		<table class="list">
			<thead>
				<tr><th colspan="18" class="graybar"></th></tr>
				<tr>
					<td class="title chkbox">
						<div class="checker btn_all">
							<span>
								<input type="checkbox" name="cbx" value='' />
							</span>
						</div>
					</td>
					<td class="title"><a name="id">id</a></td>
					<td class="title"><a name="demo_id">demo_id</a></td>
					<td class="title"><a name="type">type</a></td>
					<td class="title"><a name="time">time</a></td>
					<td class="title"><a name="title">title</a></td>
					<td class="title"><a name="sort">sort</a></td>
					<td class="title">操作</td>
				</tr>
			</thead>
			<tbody>
			<volist name="list" id="vo">
				<tr>
					<td class="chkbox">
						<div class="checker">
							<span>
								<input type="checkbox" name="ids" value="{$vo.id}" />
							</span>
						</div>
					</td>
					<td>{$vo.id}</td>
					<td>{$vo.demo_id}</td>
					<td>{$vo.type}</td>
					<td>{$vo.time}</td>
					<td><if condition="$vo.type eq 2">{$exercises[$vo['id']]}<else/>{$vo.title}</if></td>
					<td>{$vo.sort}</td>
					<td nowrap>
						<a class="a_sub" url="__CONTROLLER__/chgStt/id/{$vo.id}/stt/{$vo.stt_val}/act/{$vo.stt_act}/time/publish_time/">{$vo.stt_act}</a>　
						<a href="__CONTROLLER__/edit/id/{$vo.id}/series_id/{$_GET['series_id']}/demo_id/{$_GET['demo_id']}">编辑</a>　
						<a class="a_confirm" url="__CONTROLLER__/foreverdelete/id/{$vo.id}/" msg="确定要删除该记录么？">删除</a>　
					</td>
				</tr>
			</volist>
			</tbody>
			<tr><th colspan="18" class="graybar"></th></tr>
		</table>
		
		<div id="page">{$page}</div>
		
	</div>

	<input type="text" id="quick_edit" />
	
	<include file="Public:js_basic" />
	<load href="__PUBLIC__/Admin/js/main.js" />
	<load href="__PUBLIC__/Admin/js/main_list.js" />
	<script>
		var sch_prams = eval({$_SESSION[C('SEARCH_PARAMS')]});
	</script>

    </body>
</html>
