<!DOCTYPE html>
<html>
<head>
	<title>User Guide</title>
	<meta content="text/html;charset=utf-8" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V3/css/style.css">
</head>
<body>
	<div class="maincontet">
		<p class="stage2">1.Upload Your Avatar and Self-introduction on Personal Information</p>
		<p class="stage3">Update your profile photo</p>
		<p class="stage3">Focus on your advantages on Self-introduction (e.g. teaching experience & hobby etc.)</p>
		<p class="stage2">2.Swift to “off-line” model when you are busy, reducing student complaint in case you missed call</p>
		<p class="stage2">3.Tips:</p>
		<p class="stage3">According to different level student, you need to adjust your speech rate. (e.g. repeat sentence for beginner)</p>
		<p class="stage3">Try to communicate with students and motivate student speak confidently</p>
		<p class="stage3">Infusion new knowledge to student, such as vocabulary, sentence expression and grammar etc</p>
		<p class="stage3">Remedy student mistake (e.g. pronunciation, vocabulary and grammar)</p>
		<p class="stage3">Conclude a summary and provide study suggestion to student</p>
		<p class="stage3">Set up a good relationship for next class</p>
	</div>
</body>
</html>