<!DOCTYPE html>
<html>
<head>
	<title>产品使用</title>
	<meta content="text/html;charset=utf-8" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V3/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V3/css/main.css">
</head>
<body>
	<div class="viewport ">
		<div class="main">
			<h1 class="h1">产品使用</h1>
			<h2 class="h2">1.我想呼叫外教</h2>
			<p class="title">a.如何呼叫</p>
			<p class="text">您可在首页登陆后选择“找外教”，轻触“找外教”按钮便可开启呼叫。</p>
			<p class="title">b.取消呼叫</p>
			<p class="text">在开启“找外教”模式后您将进入“匹配外教”状态，在此状态下您可以通过“取消匹配”按钮取消呼叫</p>
			<p class="title">c.我可以预约吗？</p>
			<p class="text">口语聊是即时要求的，您无需预约。</p>
			<p class="text">我们建议您在开启呼叫服务时，查看是否有外教在线。</p>
			<p class="title">d.	订单生成</p>
			<p class="text">订单是系统在您呼叫并开始与外教通话时自动生成的，无需您在线下订单。</p>
			<p class="text">您在结束通话后便可以查看订单内容与状态并进行支付。</p>
			<h2 class="h2">2.令聊天更完美 </h2>
			<p class="title">a.如何认识我的外教</p>
			<h2 class="h2">3.使用</h2>
			<p class="title">a.如何下载“口语聊”</p>
			<p class="text red">IOS端：IOS7.0版本以上，您可以通过Apple store搜索“口语聊”下载</p>
			<p class="text red">Android端：Android 4.1版本以上</p>
			<p class="title">b.更新</p>
			<p class="title">更新有助于您获得更好的学习体验，请您随时注意我们推送给您的更新通知，通过指定方式对“口语聊”进行更新</p>
			<h2 class="h2">4.使用口语聊前我需年满几岁？</h2>
			<p class="text">用户须年满18周岁或在监护人同意并陪同下使用口语聊提供的服务。</p>
			<p>更新有助于您获得更好的学习体验，请您随时注意我们推送给您的更新通知，通过指定方式对“口语聊”进行更新</p>
		</div>
	</div>
</body>
</html>