<!DOCTYPE html>
<html>
<head>
	<title>外教聘用说明</title>
	<meta content="text/html;charset=utf-8" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V3/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V3/css/main.css">
</head>
<body>
	<div class="viewport">
		<div class="main">
			<h1 class="h1">1.成为外教</h1>
			<p class="title">a.	什么是外教？</p>
			<p class="text">外教通过我们平台向付费用户提供英语口语聊天服务。所有在我们平台上提供服务的认证外教都是经过严格筛选符合用户需求的口语教学专业人士。</p>
			<p class="title">b.	成为外教有什么好处？</p>
			<p class="text">外教可以通过陪同付费用户进行英语口语聊天而获得报酬。无论是兼职还是全职，只要通过我们的审核成为认证外教，便可在口语聊上接单为用户提供服务获得相应的报酬。
详细的报酬说明请参见“工资核算”。</p>
			<p class="title">c.	如何成为外教</p>
			<p class="text">我们通过严格的筛选制度确保付费用户从我们认证的外教处获得优质和专业的口语聊天服务。口语聊外教必须符合以下基本条件。</p>
			<ul class="cases">
				<li>具有所在国名校学士学位或英语专业名校的英语学士学位以上</li>
				<li>英语为母语或口语接近母语口语水平</li>
				<li>从事英语教学工作或有类似能够证明自己具有同等能力的工作经历</li>
			</ul>
			<h2 class="h2">2.培训制度</h2>
			<p class="title">a.	为什么需要培训？</p>
			<p class="text">我们致力于为口语学习用户提供持续的专业和优质的口语聊天服务。用户需求处于不断变化当中，口语聊平台上的认证外教应不断接受培训，从而更好地为用户服务。</p>
			<p class="title">b.	如何培训？</p>
			<p class="text">我们将向外教提供专业的培训教材，以符合不断变化的用户需求。所有外教都有资格和机会参加培训。
我们的培训制度分为岗前培训和在岗培训两大类，侧重点稍有不同。我们专业的培训团队将会策划在线上或线下进行各种形式的培训，详情我们将会通过系统信息或者其他联系方式通知外教参与</p>
			<p class="title">c.	培训与考核</p>
			<p class="text">外教必须通过我们安排的岗前培训才能上岗向用户提供服务。</p>
			<p class="text">根据我们的培训体系安排，外教将会根据自己的日程选择参与我们定期提供的在岗培训和培训考核。</p>
			<p class="text">参与次数与考核结果将会影响到未来的晋升或工资等级。</p>
			<h2 class="h2">3.考核及奖惩制度</h2>
			<p class="title">a.	为什么需要考核？</p>
			<p class="text">考核制度能够帮助我们持续规范外教的服务内容及保证服务质量，使付费用户获得更好的口语学习体验。</p>
			<p class="title">b.	如何考核</p>
			<p class="title">考核主要分为两类：</p>
			<p class="text"> <strong>第一、</strong> 通过不定期的抽查外教服务进行考核，口语聊的考核员将会作为付费用户与外教进行聊天服务，整个过程中外教无法知道服务对象是否为口语聊员工。考核员会将全过程录音并对考核过程作出评价。口语聊还会对出现异常情况（指反馈不佳）进行复核，以保证考核相对公平公正。</p>	
			<p class="text"> <strong>第二、</strong> 通过一定时期内付费用户对外教的评分与反馈进行考核。评分高低将与一定周期内工资挂钩，低于基准评分的外教将会被扣除一部分的罚金；同时，只有超过优秀评分线的外教才能获得工资外的奖金。用户反馈中涉及不良记录（不良行为的反馈），我们将会对出现不良记录的外教作出惩罚。</p>	
			<p class="title">b.	惩罚说明</p>
			<p class="text"><strong>第一、</strong>用户评分及反馈的考核与奖惩。</p>
			<p class="text">付费用户在支付订单后会对外教的服务进行1-5星的打分，外教评分累计平均分低于4.8星，将无法获得口语聊提供的补贴或奖金；平均分大于等于4.8星的外教，在满足一定接单数量（根据不同补贴和奖励活动而变化）的基础上，均可参与奖励活动而获得高额的奖励！
外教收到投诉的同时系统将会自动形成“外教不良行为记录”，并根据不良行为的性质和在一定时期内累计的数量进行相应的惩罚措施。</p>
			<div class="imgurl"><img src="__PUBLIC__/V3/images/teacher.png"></div>
			<p class="text"><strong>第二、</strong>接单率的考核与惩罚。</p>
			<p class="text">接单率，指的是系统自动匹配了付费用户与外教，外教必须在30秒？内接听。30秒内未应答，视为未接单一次。接单率低于80%的外教将自动丧失口语聊提供的补贴或奖金。</p>
			<p class="text"><strong>第三、</strong>不定期教学质量抽查的考核与惩罚。</p>
			<p class="text">不定期教学质量抽查将按照实际情况对外教的服务从服务态度、教学表现等方面考核，如出现“不良记录分类”中列示的问题，将按照“考核及奖惩制度”中关于不良行为的惩罚说明处理。</p>
		</div>
	</div>
</body>
</html>