<!DOCTYPE html>
<html>
<head>
	<title>工资核算</title>
	<meta content="text/html;charset=utf-8" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V3/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V3/css/main.css">
</head>
<body>
	<div class="viewport">
		<div class="main">
			<h1 class="h1">工资核算</h1>
			<p class="title">1.	工资核算标准</p>
			<p class="text">工资结算按照外教在一个工资核算周期内为用户提供服务的时长为基础。累计服务时间越长，外教在该工资核算周期获得的报酬也越高。</p>
			<p class="text">同时，我们也会根据奖惩制度对外教在一个工资核算周期内出现用户投诉的情况作出具体处罚。所有处罚结果将会体现在每周工资单上。</p>
			<p class="title">2.	工资等级</p>
			<p class="text">我们会按照外教工作和教育背景等情况为外教设定工资等级，每分钟起薪为0.5元或等值菲律宾比索（约3.6比索），折合每小时具体等级将会在给外教的“合作协议邮件”中注明。</p>
			<p class="text">注意：工资等级并不是固定的，我们会根据外教的服务时长和服务质量反馈提升或下调等级。</p>
		</div>
	</div>
</body>
</html>