<!DOCTYPE html>
<html>
<head>
	<title>支付说明</title>
	<meta content="text/html;charset=utf-8" http-equiv="content-type">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V2/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/V2/css/main.css">
</head>
<body>
	<div class="viewport">
		<div class="main">
			<h1 class="h1">支付说明</h1>
			<h2 class="h2">1.优惠信息</h2>
			<p class="text">我们致力于向您提供专业和优质的英语口语教学服务，为了鼓励和帮助您提高口语水平，我们将会不定期推出各种优惠信息并推送给您，敬请关注。</p>
			<h2 class="h2">2.付款方式</h2>
			<p class="text">我们目前仅开通了支付宝、微信等第三方支付平台的支付通道，您可以将您口语聊账号与上述第三方支付平台账号绑定或在支付时直接跳转第三方平台主页进行支付。 </p>
			<h2 class="h2">3.未支付订单</h2>
			<p class="text">如您在订单生成之后未完成支付，将无法启动下一次口语聊服务，请确保您在启动服务前已完成上一次订单支付。</p>
			<p class="text">如何付清未支付订单：</p>
			<ul class="cases">
				<li>点击我的订单</li>
				<li>选择支付</li>
			</ul>
		</div>
	</div>
</body>
</html>