<!doctype html>
<head>
	<include file="Public/meta" />
</head>

<body>

	<div class="login_top">您正在使用 Internet Explorer 6，这是连开发者微软都已经抛弃了的古董，建议您升级到 <a href="http://www.microsoft.com/zh-cn/download/internet-explorer-8-details.aspx" target="_blank">Internet Explorer 8</a> 或以下浏览器：</div>
	
	<div class="ie6">
		<dl><a class="firefox" href="http://www.mozillaonline.com/" target="_blank">Firefox</a></dl>
		<dl><a class="chrome"  href="http://www.google.com/chrome/?hl=zh-CN" target="_blank">Chrome</a></dl>
		<dl><a class="safari"  href="http://www.apple.com.cn/safari/" target="_blank">Safari</a></dl>
		<dl><a class="opera"  href="http://www.operachina.com/" target="_blank">Opera</a></dl>
	</div>
	
	<include file="Public:footer" />

	<load href="__PUBLIC__/Admin/js/login.js" />

</body>
</html>