<style>
    .main {
        height: 700px;
    }
</style>
<script type="text/javascript">
    $(function () {
//        show_dialog("aaa");

        $("input[type='button']").click(function () {
            show_dialog_confirm("确认删除")
        });
    });
</script>
<div class="container main">
    <a href="__MODULE__/Public/Login" target="_blank">登录</a>
    <input class="btn_confirm" type="button" value="删除">
    <input id="datepicker" type="text" name="time_one" value="">
    <input id="datepicker1" type="text" name="time_one" value="">
    welcome to the payMin's blog
</div>